@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@model RenderingModel
@{


    <ul class="nav navbar-nav">
        @foreach (Item navItem in Model.Item.Children)
        {
            LinkField linkfield = navItem.Fields["Destination"];
            <li class="vert @(linkfield.TargetID.ToString() == Sitecore.Context.Item.ID.ToString()   ? "active" : string.Empty)">
                @Html.Sitecore().BeginField("Destination", navItem, new { haschildren = false })
                @Html.Sitecore().EndField()
                @if (navItem.Children.Count > 0)
                {
                    <ul class="nav navbar-nav">
                @foreach (Item subNav in navItem.Children)
                {
                    LinkField sublinkfield = navItem.Fields["Destination"];
                <li class="subvert @(sublinkfield.TargetID.ToString() == Sitecore.Context.Item.ID.ToString()   ? "active" : string.Empty)">
                    @Html.Sitecore().BeginField("Destination", subNav, new { haschildren = false })@Html.Sitecore().EndField()
                </li>
            }
            </ul>
        }
        </li>
}
    </ul>

}
